/*------------------------------- Font ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

/* ----------------------------Variables ----------------------*/
:root{
    --font-size:1.3rem;
    --font-size-navbar:1.5rem;
}
.light-mode{
    --navbar-color: #222;
    --navbar-bg-color: #f0f0f0;
}
.dark-mode{
    --navbar-color: #fffae1;
    --navbar-bg-color: #000;
    --navbar-bg-trans-color: #000000b7;
}
/* --------------------------- Reset ------------------------- */
*{
    box-sizing: none;
    padding: 0;
    margin: 0;
    outline: none;
}
ul{
    list-style: none;
}
/* -----------------------------Logo---------------------------- */
.navbar__logo > a{
    color: var(--navbar-color);
    transition: 0.3s ease-in-out;
}
.navbar__logo > a:hover{
    color: var(--navbar-color);
    border-bottom: solid 1px var(--navbar-color);
}
.navbar__logo{
    font-size: var(--font-size-navbar);
    font-family: 'Dancing Script', sans-serif;
    padding-left: 1.5rem;
}
/* ----------------------------Navbar---------------------------- */
nav{
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 65px;
    background: linear-gradient(to top, transparent, #14110e);
    backdrop-filter: blur(5px);
    /* background: var(--navbar-bg-color); */
    color: var(--navbar-color);
}
.navbar__links{
    display: flex;
}
.navbar__link{
    padding: 0px 10px;
}
.navbar__link > a {
    color: var(--navbar-color);
    text-decoration: none;
    font-size: var(--font-size);
}
.burger{
    display: none;
}
/*--------------------------------- resposive ------------------------*/
@media screen and (max-width:767.98px){
    .navbar__logo > a:hover{
        color: var(--navbar-color);
        border-bottom:  0px ;
        letter-spacing:2px;
        transition: 0.4s;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 65px;
        background: #14110ecb;
        backdrop-filter: blur(0px);
    }
    .navbar__links{
        z-index: 100;
        overflow: hidden;
        display: flex;
        flex-direction: column ;
        justify-content: start;
        align-items: start;
        width: 0;
        height:calc(100vh - 65px);
        position: absolute;
        top: 65px;
        right: 0;
        background: #14110ecb;
        transition: all.5s ease-in-out;
    }
    .show-nav .navbar__links{
        width: 100%;
    }
    .navbar__link{
        transform: translateX(101%);
    }
    .show-nav .navbar__link{
        transform: translateX(0);
    }
    .navbar__link > a {
        display: block;
        padding: 1rem;
        font-size: var(--font-size-navbar);
        transition: all .15s ease-in-out;
    }
    .navbar__link > a:hover {
        /* padding-left: 2rem; */
        letter-spacing:4px;
    }
    /*-------------------------- toglle menu ----------------------*/
    .burger {
        display: block;
        position: relative;
        padding-right: 70px;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent
    
    }
    .bar{
        display: block;
        width: 45px;
        height: 4px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all.5s ease-in-out;
    }
    .show-nav .bar{
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after{
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0px;
        background: var(--navbar-color);
        border-radius: 3px;
        transition: all.5s ease-in-out;      
    }
    .bar::before{
        transform: translateY(-12px);
    }
    .show-nav .bar::before{
        transform: rotate(45deg);
    }
    .bar::after{
        transform: translateY(12px);
    }
    .show-nav .bar::after{
        transform: rotate(-45deg);
    }
    /* --------------------------- Animations ---------------------*/
    .show-nav .first{
        transition: all 1s ease-in-out;
    }
    .show-nav .second{
        transition: all 1s ease-in-out;
    }
    .show-nav .third{
        transition: all 1s ease-in-out;
    }
    .show-nav .four{
        transition: all 1s ease-in-out;
    }
    .show-nav .five{
        transition: all 1s ease-in-out;
    }
}


/*----------------------------- small responsive ---------------------*/


@media screen and (min-width:768px){
    .navbar__link > a::after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: var(--navbar-color);
        transition: width .4s;
    }
    .navbar__link:hover > a::after {
        width: 100%;
    }
}