@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Advent Pro',sans-serif;
    padding: 0;
    margin: 0;
    background-color: #16120f;
}
div.debutPage {
    padding: 2em;
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-align: center;
    text-decoration: none;
}
h1{
    text-align: center;
    color: #fffae1;
}
h2{

    text-align: center;

}
h3{
    text-align: center;        
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
/* --------------------NAVBAR-------------------------- */
