@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Advent Pro',sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
h3{
    text-align: center;        
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
/* --------------------NAVBAR-------------------------- */
nav{
    overflow: hidden;
    background-color: #16120f;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.3em;
}
header a{
    color: #fffae1;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
header a:hover{
    color: #aaa396;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: scale(1.1,1.1);
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
