@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

/* Variables */
:root{
    --font-size:1rem;
    /* -------------------navBar------------------ */
    --navBar-color: #fffae1;
    --navBar-bg-color: #16120fde;
    /* -------------navBarBurger--------------- */
    --navBarBurger-color: #e0d9d3;
    --navBarBurger-bg-color:  #14110e;
}
/* background: var(--navBarBurger-bg-color); 
   background: var(--navBarBurger-color)*/
*, ::before, ::after{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{   
    font-family: 'Advent Pro',sans-serif;
}
header{
    z-index: 999;
    transition: 0.3s ease-in-out;

}
nav{
    z-index: 100;
    width: 100%;
    height: 50px;
    background: #16120fde;
    border-bottom: 0.5px solid rgba(167, 167, 167, 0);
    position: fixed;
}
.liste-items{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: #fffae1;
    list-style-type: none;
    height: 100%;
    line-height: 51px;
    font-size:  1.3em;
    text-align: center;
}
.items{
    cursor: pointer;
    margin: 0 0px;
    flex-shrink: 0;
}
nav a {
    text-decoration: none;
    color: #fffae1;
    border-bottom: 2px solid transparent;
}
nav a:hover{
    color: #aaa396;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* ----------------------sous liste---------------------- */

.sous-liste{
    position: relative;
    display: none;
}
.items-sous-liste{
    position:relative;
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    background: #16120fde;
    border-bottom: 0.5 solid rgb(167, 167, 167);
}
.items-sous-liste:nth-last-child(1){
    border-radius: 0 0 10px 10px;
}

.items:hover > ul {
    display: block;
    transform: translatey(0. -100%,0);
    transition: 1s ease-in-out;
}
.scroll-down header {
    transform: translate3d(0. -100%,0);
}
.scroll-up header {
    filter: drop-shadow(0 -10px 20px black);
}

/* ------------- Médié query ---------------- */

@media (max-width: 1000px){
    nav{
        z-index: 100;
    }
    nav ul li{
        position: relative;
        list-style: none;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-250px);
        transition-delay: calc(0.1s * var(--i));
    }
    .sous-liste{
        position: fixed;
        display: none;
        left: 0;
        right: 0;
        
    }
    nav ul li:nth-child(6) a {
        border-radius: 0 0 10px 10px ;
    }
    nav ul li:nth-child(6):hover a {
        border-radius: 0 10px 10px 10px;
        transform: scale(1.04) translate(2%);
    }
    nav ul li a {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 4px 20px;
        height: 50px;
        width: 167px;
        background: var(--navBarBurger-bg-color);
        color: var(--navBarBurger-color);
        transition: 0.4s ease-in-out;
    }
    nav a:hover{
        color: black;
        cursor: pointer;
        transition: 0.2s ease-in;
        background: #f6f6F6;
        border-radius: 0 10px 10px 0px;
        transform: scale(1.04) translate(2%, -2%);
    }
    /* nav ul li a:hover{
        background: #f6f6F6;
        color: black;
    } */
    .navigation.active ul li{
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
    .liste-items{
        flex-direction: column;
        height: auto;
        align-items: center;      
    }
    .items{
        height: 60px;
        float: left;
    }

    .sous-liste{
        position: relative;
        display: none;
        z-index: -1;
    }
    .items-sous-liste:nth-child(3) {
        top: -240px;
        z-index: -1;
    }
    .items-sous-liste:nth-child(4) {
        top: -360px;
        z-index: -2;
    }
    .items-sous-liste{
        top: -60px;
        text-align: center;
        width: 167px;
        margin-left: 95%;
        background: var(--navBarBurger-bg-color);
        z-index: 1;

    }
    /* .items-sous-liste:hover{
        background: #f6f6F6;
    } */
    .items:hover > ul {
        display: block; 
        transition: 5s;  
    }
    nav{
        background-color: #16120f00;
    }
    .navigation{
        position: fixed;
        top: 20px;
        left: 20px;
        height: 20px;
        width: 206px;
        z-index: 10;
    }
    .toggle:hover{
        transition: 0.3s;
        background: #f6f6F6;
        color: var(--navBarBurger-bg-color);
        border-radius: 10px 10px 10px 0px;
        transform: scale(1.04) translate(2%, -2%);
    }
    .toggle{
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        left: 0;
        width: 167px;
        height: 50px;
        background: var(--navBarBurger-bg-color);
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--navBarBurger-color);
        padding: 5px 20px;
    }
    .toggle::before{
        font-size: 20px;
        content: 'Menu';
        margin-right: 38px;
    }
    .toggle.active::before{
        content: 'Fermer';
    }
    .toggle span{
        position: relative;
        width: 20px;
        height: 50px;
    }
    .toggle span::before{
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--navBarBurger-color);
        transition: 0.5s;
    }
    .toggle span::after{
        content: '';
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--navBarBurger-color);
        transition: 0.5s;
    }
    .toggle.active span::before{
        transform: rotate(225deg);
        top: 24px;
    }
    .toggle.active span::after{
        transform: rotate(135deg);
        bottom: 24px;
    }
}
