*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    perspective: 1000px;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d ;
}
.card{ 
    z-index: 2;
    transform-style: preserve-3d ;
    border-radius: 30px;
    min-height: 40vh;
    max-width: 70vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),0px 0px 50px rgba(0, 0, 0, 0.2) ;
    padding: 0rem 5rem;
}
.planete{
    transform-style: preserve-3d ;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.planete img{
    transition: all 0.75s ease-out;
    width: 15rem;
    z-index: 2;
}
.forme{
    transform: translate(0px,28px) rotate(90deg);
    width: 16rem;
    height: 16rem;
    background: linear-gradient(
        to right,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius:30px;
    z-index: 1;
}
.info{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    transform-style: preserve-3d ;
    perspective: 1000px;
}
.info h1{
    margin-top: 20px;
    margin-bottom: -15px;
    text-align: center;
    z-index: 10;
    font-size: 3rem;
    transition: all 0.75s ease-out;
}
.info h3{
    text-align: center;
    font-size: 1.3rem;
    padding: 1.5rem 0rem;
    color: #585858;
    font-weight: 300;
    transition: all 0.75s ease-out;
}

.sizes{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes button{
    border: none;
    background: none;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-size: bold;
    color: #585858;
}
button.active{
    background: #585858;
    color: white;
}
.purchase{
    margin: 2rem 2rem;
    transition: all 0.75s ease-out;
}
.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}
/* Format smartphone */
@media( max-width:1090px)  {
    body{
        min-height: 100vh;
    }
    .container{
        width: 60%;
        perspective: 1000px;
    }
    .card{ 
        min-height: 10vh;
        width: 70%;
        padding: 0rem 5rem;
    }
    .planete{
        min-height: 15vh;
    }
    .planete img{
        width: 13rem;
    }
    .forme{
        transform: translate(11px,28px) rotate(90deg);
        width: 16rem;
        height: 16rem;
    }
    .info h1{
        padding: 15px 0px;
        font-size: 2.5rem;
    }
    .info h3{
        font-size: 1.3rem;
        padding: 0.5rem 0rem;
        font-weight: 300;
    }
    
    
}
@media( max-width:920px) {
    body{
        min-height: 100vh;
    }
    .container{
        width: 80%;
        perspective: 1000px;
    }

}
@media( max-width:750px) {
    .container{
        width: 80%;
    }
    .card{ 
        min-height: 10vh;
        width: 80%;
        padding: 0rem 5rem;
    }
    .planete{
        min-height: 10vh;
    }
    .planete img{
        width: 13rem;
    }
    .forme{
        transform: translate(11px,28px) rotate(90deg);
        width: 14rem;
        height: 13rem;
    }
    .info h1{
        padding: 15px 0px;
        font-size: 2.5rem;
    }
    .info h3{
        font-size: 1.3rem;
        padding: 0.5rem 0rem;
        font-weight: 300;
    }
    
    .sizes button{
        padding: 2px 2px;
        font-size: bold;
    }
    .purchase{
        margin: 1rem 1rem;
    }
    .purchase button{
        width: 100%;
        padding: 1rem 0rem;
        border-radius: 30px;
        font-weight: bolder;
    }

}