*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 30px;
    min-height: 80vh;
    width: 35rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),0px 0px 50px rgba(0, 0, 0, 0.2) ;
    padding: 0rem 5rem;
}
.sneaker{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sneaker img{
    width: 15rem;
    z-index: 2;
}
.circle{
    transform: translate(10px,40px) rotate(90deg);
    width: 16rem;
    height: 16rem;
    background: linear-gradient(
        to right,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 0%;
    z-index: 1;
}
.info h1{
    font-size: 3rem;
}
.info h3{
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
}

.sizes{
    display: flex;
    justify-content: space-between;
}
.sizes button{
    border: none;
    background: none;
    padding: 0.5rem 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-size: bold;
    color: #585858;
}
button.active{
    background: #585858;
    color: white;
}
.purchase{
    margin-top: 5rem;
}
.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}