@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Advent Pro',sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
h3{
    text-align: center;        
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
nav{
    z-index: 100;
}
/* ------------------IMAGE PRINCIPALE--------------------- */
#imageParallax{
    position: relative;
    width: 100%;
    height: 150vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* #imageParallax::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #16120f,transparent);
} */
#imageParallax img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(150px, 100%, 100%);
    height: 100%;
    object-fit: cover;
}
#frontStart{
    
    z-index: 6;
    transform: translatey(10px);
}
#frontEnd{
    z-index: 5;
}
#middelStart{
    transform: translatey(0px);
    z-index: 4;
}
#firstName{
    
    transform: translatey(70px);
    position: absolute;
    z-index: 2;
    white-space: nowrap;
}
#middelEnd{
    transform: translatey(-20px);
    z-index: 3;
}
#lastName{
    
    transform: translatey(200px);
    position: absolute;
    z-index: 4;
    white-space: nowrap;
}
#background{
    
    transform: translatey(-50px);
    z-index: 1;
}
h1 {
    font-family: 'Dancing Script', cursive;
    color:#ffffff;
    font-size: 6em;
    margin-top: 120px;
    text-shadow: 5px 4px 8px rgb(107, 13, 35);
}
/* #imagePrincipale{
    padding-top: 60px;
    background: url(media/images/PeintureImage/horizon_paysage_peinture.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 700px;
} */
/* #premierTrait{
    height: 1px;
    width: 35%;
    margin: -3px auto;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px rgb(107, 13, 35);
} */
h3{
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    text-shadow: 5px 4px 8px rgb(107, 13, 35);
}
/* -------------------PRESENTATION---------------------- */
#presentation::before{
    content: '';
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #16120f, transparent);
}
#presentation{
    z-index: 4;
    position: relative;
    width: 100%;
    background-color: #16120f;
    padding: 10px 0px 30px 0px;
}
#textIntro{
    text-align: center;
    color: #fffae1;
    padding: 0px 15%;
}
#photos{
    color: #fffae1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 5px;
    justify-items: center;
    margin-top: 100px;
}
.imagesPhotos h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    margin: 15px;
    font-weight: 300;
}
.imagesPhotos img{
    width: clamp(250px, 100%, 700px);
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.64);
}
.imagesPhotos img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* ------------------------VIDEOS---------------------- */
.moyenMetrage{
    margin-top: 0;
    font-family: 'Advent Pro',sans-serif;
    padding: 0px 50px;
    background: linear-gradient(1deg, #221c17, #16120f) center center no-repeat;
    line-height: 1.4;
    min-height: 100%;
    overflow-x: hidden;
}
.title{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 60px;
}
.item{
    border-radius: 20px;
    margin: 30px 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px #faf9f91a,0 5px 5px #ffffff1a ;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
}
.item:hover{
    transform: translate3d(0, -10px, 0);
}
.item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius:  15px 15px 0 0;
}
.item__body{
    padding: 20px;
}

.item__title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description{
    color: #2c2c2c;
    font-size: 17px;
}

.items{
    position: relative;
}
.item a{
    text-align: left;
}
/* ------------------------Carousel vidéos----------------------- */
.carousel {
    position: relative;
    /* overflow: hidden; */
}
.carousel__container{
    transition: transform 0.4s;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}
.carousel__item {
    float: left;
}

/* ---------------------Bouttons de navigation et de pagination---------------- */
.carousel__next, .carousel__prev {
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ffffffb4 url(./media/svgButtons/right.svg) center center no-repeat;
    background-size:45px;
    border-radius: 50%;
    top: 50%;
    margin-top: -50px;
    right: -20px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}
.carousel__prev{
    background-image: url(./media/svgButtons/left.svg);
    right: auto;
    left: -20px;
}
.carousel__next--hidden, .carousel__prev--hidden{
    opacity: 0;
}
.carousel__pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.carousel__pagination__button{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover{
transform: scale(1.4);
}
/* ---------------------Liens Travaux--------------------- */
p.TitreV{
    text-align: center;
    padding: 0;
}

#liensTravail{
    padding-bottom: 0px;
    color: #fffae1 ;
    background: #221c17;
    height: auto ;
}
.LIEN{
    font-size: 1.6rem;
    color: #fffae1
}
.liens{
    padding-top: 30px;
    text-align: center;
    color: #fffae1 ;
}

/* --------------------Transition Video => Footer------------------- */

#svgSec1{
    z-index: 9;
    position:relative;
    background-color: #524A3A;
}

/* --------------FOOTER-------------------- */
footer h2{
    padding: 0;
    margin: 0;
}

#contact{
    position: relative;
    width: 100%;
    background-color: #524A3A;
    color: #fffae1;
    padding: 0px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
input, .field, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
.field{
    height: 120px;
}
button{
    font-size: 1.5em;
    background-color: #fffae1;
}
button:hover{
    background-color: #aaa396;
    color: #fffae1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #fffae1;
    margin: 60px auto;
}
#copyrightEtIcons{
    color: #fffae1;
    margin: 5px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
}

#copyrightEtIcons a {
    color: #fffae1;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;    
}
#espaceFin{
    padding: 30px;
}
@media screen and (min-width: 800px){
    .carousel__pagination{
        display: block;
    }
}
/* ----------ordre de position images--------------- */
@media (max-width: 1326px){
    .imagesPhotos:last-child{
        order: -1;
    }
    .imagesPhotos:first-child{
        order: -1;
    }
    
}

@media (max-width: 800px){
    .imagesPhotos:last-child{
        order: 0;
    }
    .imagesPhotos:first-child{
        order: 0;
    }
    h1{
        font-size: 5rem;
    }
    #photos{
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: space-between;
        padding: 20px 0 ;
        justify-items: center;
        text-align: center;
    }
    .imagesPhotos img{
        width: clamp(250px, 80%, 700px);
    }
    #liensTravail{
        padding-bottom: 20px;
    }    
}
@media (max-width: 400px){
    h1{
        font-size: 3.5rem;
    }
}