@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

html{
    scroll-behavior: smooth;
}
/* Variables */
:root{
    /* -----------------Font & Size-------------------- */
    --font-size-Titre-Sec:1rem;
    --font-size-H1:6em;
    --font-size-H2:2em;
    --font-size-H3:3em;
    --font-size-H4:2em;
    --font-size-P:1rem;
    --font-family-Advent:'Advent Pro',sans-serif;
    --font-family-Dancing:'Dancing Script',sans-serif;
    /* -----------------white mode-------------------- */
    --text-white: #000000;
    --bg-white: #ffffff;
    /* -------------------darck mode------------------ */
    --text-darck: #e0d9d3;
    --text-darck-sec01: #fffae1;
    --bg-darck:  #14110e;
    --bg-darck-sec01: #16120f;
    /* -------------------Chargement------------------ */
    --font-size-chargemnt:6em;
    --text-chargement01: #484848;
    --text-chargement02: #fff900;
    --bg-chargement:  #000;
}
body {
    font-family: var(--font-family-Advent);
    padding: 0;
    margin: 0;
    color: var(--text-white);
}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: var(--text-white);
}
h1{
    text-align: center;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: var(--font-size-H2);
}
h3{
    text-align: center;        
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
nav{
    z-index: 100;
}
/* ---------------------Chargement----------------------------- */
.loader{
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-chargement);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre{
    color: #484848;
    font-size: var(--font-size-chargemnt);
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash{
    0%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
    90%{
        color: var(--text-chargement01);
        text-shadow: none;
    }
    100%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
}
.lettre:nth-child(1){
    animation-delay:0.1s ;
}
.lettre:nth-child(2){
    animation-delay:0.2s ;
}
.lettre:nth-child(3){
    animation-delay:0.3s ;
}
.lettre:nth-child(4){
    animation-delay:0.4s ;
}
.lettre:nth-child(5){
    animation-delay:0.5s ;
}
.lettre:nth-child(6){
    animation-delay:0.6s ;
}
.lettre:nth-child(7){
    animation-delay:0.7s ;
}
.lettre:nth-child(8){
    animation-delay:0.8s ;
}
.lettre:nth-child(9){
    animation-delay:0.9s ;
}
.lettre:nth-child(10){
    animation-delay:1s ;
}
.fondu-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
/* ------------------IMAGE PRINCIPALE--------------------- */
#imageParallax{
    position: relative;
    width: 100%;
    height: 150vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#imageParallax img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(150px, 100%, 100%);
    height: 100%;
    object-fit: cover;
}
#frontStart{
    
    z-index: 6;
    transform: translatey(10px);
}
#frontEnd{
    z-index: 5;
}
#middelStart{
    transform: translatey(0px);
    z-index: 4;
}
#firstName{
    
    transform: translatey(70px);
    position: absolute;
    z-index: 2;
    white-space: nowrap;
}
#middelEnd{
    transform: translatey(-20px);
    z-index: 3;
}
#lastName{
    
    transform: translatey(200px);
    position: absolute;
    z-index: 4;
    white-space: nowrap;
}
#background{
    
    transform: translatey(-50px);
    z-index: 1;
}
h1 {
    font-family: 'Dancing Script', cursive;
    color:#ffffff;
    font-size:var(--font-size-H1);
    margin-top: 120px;
    text-shadow: 5px 4px 8px rgb(107, 13, 35);
}
h3{
    text-align: center;
    color: #ffffff;
    font-size: var(--font-size-H3);
    text-shadow: 5px 4px 8px rgb(107, 13, 35);
}
/* -------------------PRESENTATION---------------------- */
#presentation::before{
    content: '';
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--bg-darck-sec01), transparent);
}
#presentation{
    z-index: 4;
    position: relative;
    width: 100%;
    background-color:var(--bg-darck-sec01);
    padding: 10px 0px 30px 0px;
}
#textIntro{
    text-align: center;
    color: var(--text-darck-sec01);
    padding: 0px 15%;
}
/* -------------------Photos---------------------- */
#photos{
    color: #fffae1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 5px;
    justify-items: center;
    margin-top: 100px;
}
.imagesPhotos h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    margin: 15px;
    font-weight: 300;
}
.imagesPhotos img{
    width: clamp(250px, 100%, 700px);
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.64);
}
.imagesPhotos img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* ------------------------VIDEOS---------------------- */
.moyenMetrage{
    margin-top: 0;
    font-family: 'Advent Pro',sans-serif;
    padding: 0px 50px;
    background: linear-gradient(1deg, #221c17, #16120f) center center no-repeat;
    line-height: 1.4;
    min-height: 100%;
    overflow-x: hidden;
}
.title{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 60px;
}
.item{
    border-radius: 20px;
    margin: 30px 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px #faf9f91a,0 5px 5px #ffffff1a ;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
}
.item:hover{
    transform: translate3d(0, -10px, 0);
}
.item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius:  15px 15px 0 0;
}
.item__body{
    padding: 20px;
}

.item__title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description{
    color: #2c2c2c;
    font-size: 17px;
}

.items{
    position: relative;
}
.item a{
    text-align: left;
}
/* ------------------------Carousel vidéos----------------------- */
.carousel {
    position: relative;
    /* overflow: hidden; */
}
.carousel__container{
    transition: transform 0.4s;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}
.carousel__item {
    float: left;
}

/* ---------------------Bouttons de navigation et de pagination---------------- */
.carousel__next, .carousel__prev {
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ffffffb4 url(./media/svgButtons/right.svg) center center no-repeat;
    background-size:45px;
    border-radius: 50%;
    top: 50%;
    margin-top: -50px;
    right: -20px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}
.carousel__prev{
    background-image: url(./media/svgButtons/left.svg);
    right: auto;
    left: -20px;
}
.carousel__next--hidden, .carousel__prev--hidden{
    opacity: 0;
}
.carousel__pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.carousel__pagination__button{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover{
transform: scale(1.4);
}
/* ---------------------Liens Travaux--------------------- */
p.TitreV{
    text-align: center;
    padding: 0;
}

#liensTravail{
    padding-bottom: 0px;
    color: #fffae1 ;
    background: #221c17;
    height: auto ;
}
.LIEN{
    font-size: 1.6rem;
    color: #fffae1
}
.liens{
    padding-top: 30px;
    text-align: center;
    color: #fffae1 ;
}

/* --------------------Transition Video => Footer------------------- */

#svgSec1{
    z-index: 9;
    position:relative;
    background-color: #524A3A;
}

/* --------------FOOTER-------------------- */
footer h2{
    z-index: 10;
    padding: 0;
    margin: 0;
}

#contact{
    position: relative;
    width: 100%;
    background-color: #524A3A;
    color: #fffae1;
    padding: 0px 0 10px 0;
    text-align: center;
}
form{
    z-index: 100;
    margin: 0 auto;
    max-width: 900px;
}
input, .field, button{
    z-index: 100;
    border: none;
    width: 70%;
    height: 100%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 10px;
}
.field{
    height: 50px;
}
button{
    z-index: 100;
    border-radius: 40px;
    width: 45%;
    font-size: 1.5em;
    background: linear-gradient(45deg, #524A3A, #fffae1);
    box-shadow: 0px 5px 10px #fffae1;
    transition: 0.4s ease-in-out;
}
button:hover{
    background: linear-gradient(45deg, #fffae1, #fffae1);
    cursor: pointer;
}
.containerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 20%;
    padding-top: 20%;
    margin-bottom: 70px;
    margin-left: 22% ;
    margin-right: 22% ;
}
.containerForm i{
    padding: 100px 100px;
    float: center;   
    z-index: 9;
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.containerForm i:nth-child(1){
    border-radius:58% 42% 56% 44% / 46% 53% 47% 54% ;
    animation: animate 17s linear infinite;
}
.containerForm i:nth-child(2){
    border-radius:45% 55% 47% 53% / 51% 49% 51% 49%  ;
    animation: animate1 11s linear infinite;
}
.containerForm i:nth-child(3){
    border-radius: 42% 58% 52% 48% / 51% 60% 40% 49%   ;
    animation: animate 9s linear infinite;
}
.containerForm:hover i{
    border: 3px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr));
} 
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate1{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


/* #deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #fffae1;
    margin: 60px auto;
} */
#copyrightEtIcons{
    color: #fffae1;
    margin: 5px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
}

#copyrightEtIcons a {
    color: #fffae1;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;    
}
#espaceFin{
    padding: 30px;
}
@media screen and (min-width: 800px){
    .carousel__pagination{
        display: block;
    }
}
/* ----------ordre de position images--------------- */
@media (max-width: 1326px){
    .imagesPhotos:last-child{
        order: -1;
    }
    .imagesPhotos:first-child{
        order: -1;
    }
    
}

@media (max-width: 800px){
    .imagesPhotos:last-child{
        order: 0;
    }
    .imagesPhotos:first-child{
        order: 0;
    }
    h1{
        font-size: 5rem;
    }
    #photos{
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: space-between;
        padding: 20px 0 ;
        justify-items: center;
        text-align: center;
    }
    .imagesPhotos img{
        width: clamp(250px, 80%, 700px);
    }
    #liensTravail{
        padding-bottom: 20px;
    }
    .containerForm {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-bottom: 60px;
        margin-left: 22% ;
        margin-right: 22% ;
    }
    .containerForm i{
        padding: 100px 100px;
        float: center;   
        z-index: 9;
        position: absolute;
        inset: 0;
        border: 2px solid #fff;
        transition: 0.5s;
    }    
}
@media (max-width: 400px){
    h1{
        font-size: 3.5rem;
    }
}